<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Background_Haven.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Background_Haven.My.MySettings>
            <setting name="DownloadDir" serializeAs="String">
                <value />
            </setting>
            <setting name="AIArt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RatioIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ResolutionIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CustomResolutionWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomResolutionHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="ExactlyResolution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Anime" serializeAs="String">
                <value>False</value>
            </setting>
        </Background_Haven.My.MySettings>
    </userSettings>
</configuration>